<div class="card p-6">
  <div class="text-nowrap flex justify-between">
    <div class="flex flex-col">
      <h3>Producto</h3>
      <span>Valencia, Venezuela</span>
      <span>500 $</span>
    </div>
    <div class="flex flex-col items-center gap-2">
      <div class="icon-star">⭐⭐⭐⭐⭐</div>
      <div class="flex justify-between w-full px-1">
        <div class="icon-button">📌</div>
        <div class="icon-button">📢</div>
      </div>
    </div>
  </div>
  <div class="img h-[10rem] bg-white my-2">
    <img src="" alt="">
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio natus modi accusantium aliquid voluptas fugit, totam ratione provident...</p>
</div>
