<div class="p-3">
  <div class="grid grid-cols-4">
    <div class="col-span-3 flex items-center justify-center my-5">
      <h3 data-aos="fade-down" class="text-4xl font-bold">Gestión de Pedidos</h3>
    </div>
    <div class="col-span-1 flex items-center justify-end my-5">
      <p-button data-aos="zoom-out-down" data-aos-duration="1500" icon="pi pi-plus" label="Nuevo Pedido"
        class="p-button-success" (onClick)="createPedido()" />
    </div>
  </div>
</div>

<div class="p-3">
  <p-table data-aos="fade-zoom-in" [value]="pedidos" [paginator]="pedidos.length > 7" size="large" [rows]="8"
    [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Fecha de Cita</th>
        <th>Creado el</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
      <tr>
        <td>{{ pedido.nombre }}</td>
        <td>{{ pedido.prioridad }}</td>
        <td *ngIf="typeof pedido.fecha_cita !== 'string'">{{ pedido.fecha_cita | date: 'short' }}</td>
        <td *ngIf="typeof pedido.fecha_cita === 'string'">{{ pedido.fecha_cita }}</td>
        <td>{{ pedido.fecha_creacion | date: 'short' }}</td>
        <td class="">
          <i (click)="showPedidoDetails(pedido.id)" [tabindex]="0" (keyup.esc)="visible = false"
            ngClass="rounded-lg pi pi-eye" class="text-indigo-400 cursor-pointer"></i>
          <i (click)="deletePedido(pedido)" [tabindex]="0" (keyup.esc)="visible = false"
            ngClass="rounded-lg pi pi-trash" class="text-red-400 ml-4 cursor-pointer"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-drawer (onHide)="hideDrawer()" [(visible)]="visible" [modal]="true" position="right" [style]="{width: '40vw'}"
  [baseZIndex]="10000" [closeOnEscape]="true">
  <router-outlet />
</p-drawer>
