div,label{
  display: flex;
  flex-direction: column;
}

button{
  margin: 0;
  margin-top: 1rem;
  background-color: palegreen;
  border: 2px solid black;
  border-radius: .5rem;
  width: 5rem;
  height: 2rem;
}

::ng-deep .custom-galleria .p-galleria-indicators {
  @apply bg-transparent p-1;
  /* Tailwind classes */
}
