<div class="card">
  @if (isHydrated) {
  <div>
    <p-galleria styleClass="custom-galeria" [value]="images" [showIndicators]="true" showIndicatorsOnItem="true"
      [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true" [showThumbnails]="false"
      [transitionInterval]="5000">
      <ng-template pTemplate="item" let-item>
        <img [src]="item?.itemImageSrc" [alt]="item?.alt" class="container-layout object-cover" />
      </ng-template>
      <ng-template #item let-item>
        <div class="text-xl mb-2 font-bold">{{ 'Title' }}</div>
        <p class="text-white">{{ item.alt }}</p>
      </ng-template>
    </p-galleria>
  </div>
  } @else {
  <p>Loading...</p>
  }
</div>