<section class="flex my-10 justify-center">
  <div class="flex relative container">
    <div class="flex justify-between items-center w-full mx-36">
      <p>HOME</p>
      <p>PAGES</p>
      <p>PORTRAIT</p>
      <img
        class="w-16"
        src="/image/header/image-_2_.svg"
        alt="logo-shop"
      >
      <p>BLOG</p>
      <p>FEATURE</p>
      <p>SHOP</p>
    </div>
    <!-- <div class="flex absolute gap-2 top-11 right-9">
      <img
        class="w-5"
        src="/image/header/search-173 (1).svg"
        alt="search-icon"
      >
      <img
        class="w-7"
        src="/image/header/user-128 (1).svg"
        alt="user-icon"
      >
    </div> -->
  </div>
</section>
