<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-4 p-[3rem]"
>
  <div class="flex justify-between items-center mb-4">
    <h1 class="!text-2xl !font-semibold">INICIAR SESIÓN</h1>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="flex flex-col gap-5">
    <input
      class="input"
      type="email"
      formControlName="email"
      id="email"
      placeholder="Correo electróncio"
    />
    <input
      class="input"
      type="password"
      formControlName="password"
      placeholder="Contraseña"
    />
  </div>

  <div class="flex gap-2 items-center">
    <input type="checkbox" formControlName="checkbox" />
    <span>Recuérdame</span>
  </div>

  <button
    [class.button]="loginForm.valid"
    [class.button-invalid]="loginForm.invalid"
    [disabled]="loginForm.invalid"
    class="font-semibold rounded-md tracking-wider py-3 border border-transparent"
    type="submit"
  >
    INGRESAR
  </button>
</form>
