<nav class="fixed top-0 left-0 right-0 z-50 bg-gray-800 border border-transparent border-b-gray-600">
  <div class="mx-auto">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Mobile menu button -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button (click)="isMobileMenuOpen = !isMobileMenuOpen"
          class="group relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-none focus:ring-inset">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <mat-icon *ngIf="!isMobileMenuOpen" class="block size-6">menu</mat-icon>
          <mat-icon *ngIf="isMobileMenuOpen" class="hidden size-6">close</mat-icon>
        </button>
      </div>

      <div class="flex flex-1 items-center justify-start pl-10 sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <span class="text-white text-xl">Julias Gioielli</span>
        </div>

        <!-- Desktop Navigation -->
        <div *ngIf="!user" class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a *ngFor="let item of navigation" [routerLink]="item.href" routerLinkActive="bg-gray-900 text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
              {{ item.name }}
            </a>
          </div>
        </div>
      </div>

      <!-- User menu -->
      <div class="absolute mr-5 inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button"
          class="relative flex rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-none">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <mat-icon class="size-6 self-center">notifications</mat-icon>
        </button>

        <div class="relative ml-3">
          <button (click)="isUserMenuOpen = !isUserMenuOpen"
            class="relative flex rounded-full bg-gray-800 text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-none">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <div class="flex" *ngIf="!user">
              <i class="pi pi-user text-gray-300 self-center text-lg"></i>
              <span class="text-gray-300 py-[2px] pl-[8px] text-base">Ingresar</span>
            </div>
            <div class="flex" *ngIf="user">
              <img [src]="this.user?.imagen_url" class="h-9 w-9 object-cover rounded-full" alt="Avatar User" />
              <span class="text-gray-300 pt-[5px] pl-[8px] text-base">
                {{ this.user?.nombre_usuario }}
              </span>
            </div>
          </button>

          <!-- User dropdown menu -->
          <div *ngIf="isUserMenuOpen" [class.menu-enter]="isUserMenuOpen" [class.menu-leave]="!isUserMenuOpen"
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
            <div *ngIf="!user" class="py-1">
              <button (click)="visibleRegister = true"
                class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100">
                Registrarse
              </button>
              <button (click)="visibleLogin = true"
                class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100">
                Iniciar sesión
              </button>
            </div>
            <div *ngIf="user" class="py-1">
              <button (click)="navigatePerfil()"
                class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100">
                Ver mi perfil
              </button>
              <button (click)="navigateConfig()"
                class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100">
                Configuración
              </button>
              <button (click)="closeSesion()"
                class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100">
                Salir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div *ngIf="isMobileMenuOpen" class="sm:hidden">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a *ngFor="let item of navigation" [routerLink]="item.href" (click)="isMobileMenuOpen = false"
        routerLinkActive="bg-gray-900 text-white" [routerLinkActiveOptions]="{ exact: true }"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
        {{ item.name }}
      </a>
    </div>
  </div>
</nav>

<div class="card flex justify-center">
  <p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visibleLogin" styleClass="!border-0 !bg-transparent"
    [modal]="true">
    <ng-template pTemplate="headless">
      <app-login-form (closeDialog)="visibleLogin = false" />
    </ng-template>
  </p-dialog>
</div>

<div class="card flex justify-center">
  <p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visibleRegister" styleClass="!border-0 !bg-transparent"
    [modal]="true">
    <ng-template pTemplate="headless">
      <app-register-form (closeDialog)="visibleRegister = false" />
    </ng-template>
  </p-dialog>
</div>