<div class="contact-container">
  <section class="w-full">
    <div class="container w-full">
      <div class="row">

        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="pi pi-home"></i>
            </div>

            <div class="contact-info-content">
              <h4>Dirección</h4>
              <p>Urb. Villa Icabarú,<br />Ciudad Guayana 8050,<br />Bolívar.</p>
            </div>
          </div>

          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="pi pi-phone"></i>
            </div>

            <div class="contact-info-content">
              <h4>Número</h4>
              <p>0414-8552783</p>
            </div>
          </div>

          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="pi pi-inbox"></i>
            </div>

            <div class="contact-info-content">
              <h4>Correo</h4>
              <p>{{'juliagrod@gmail.com'}}</p>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <form action="" id="contact-form">
            <h2>Envíanos un mensaje</h2>
            <div class="input-box">
              <input type="text" required="true" name="">
              <span>Nombre Completo</span>
            </div>

            <div class="input-box">
              <input type="email" required="true" name="">
              <span>Correo</span>
            </div>

            <div class="input-box">
              <textarea required="true" name=""></textarea>
              <span>Escribe tu mensaje...</span>
            </div>

            <div class="input-box">
              <input type="submit" value="Envíar" name="">
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
</div>