<div class="grid grid-cols-8 gap-4 h-full">
  <div class="col-span-8 ml-4">
    <div class="flex items-center justify-center my-5">
      <h3 data-aos="fade-down" data-aos-duration="800" class="text-4xl font-bold">Gestión de Usuarios</h3>
    </div>

    <p-table [loading]="loading" data-aos="fade-zoom-in" [paginator]="usuarios.length >= 9 ? true : false" [rows]="9"
      [value]="usuarios" class="w-full pl-2">
      <ng-template pTemplate="header">
        <tr class="text-center">
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Fecha de creación</th>
          <th>Roles</th>
          <th>Estado</th>
        </tr>
      </ng-template>
      <ng-template let-rowData let-i="rowIndex" pTemplate="body" class="text-center">
        <tr class="hover:bg-gray-100 transition-all duration-300">
          <td>{{ rowData.cedula }}</td>
          <td>{{ rowData.nombres }}</td>
          <td>{{ rowData.fecha_creacion | date:'dd/MM/yyyy' }}</td>
          <td class="flex gap-3 text-xs">
            <p-chip [label]="rowData.roles[0].nombre" icon="pi pi-user" />
            <p-chip *ngIf="rowData.roles[1]" [label]="rowData.roles[1].nombre" icon="pi pi-crown" [removable]="true"
              (onRemove)="toggleAdmin(i)" />
            <p-chip class="cursor-pointer" (click)="toggleAdmin(i)" *ngIf="!rowData.roles[1]" label="DAR ADMINISTRADOR"
              icon="pi pi-plus" />
          </td>
          <td>
            <div
              class="rounded-full w-8 h-8 flex items-center justify-center cursor-pointer hover:bg-gray-200 transition-all duration-300"
              [ngClass]="rowData.estado ? 'bg-green-500 text-white' : 'bg-red-500 text-white'"
              [title]="rowData.estado ? 'Usuario activo' : 'Usuario inactivo'" tabindex="0" role="button"
              aria-label="Estado">
              <i *ngIf="rowData.estado" (click)="toggleStatus(rowData)" class="pi pi-check" aria-hidden="true"></i>
              <i *ngIf="!rowData.estado" (click)="toggleStatus(rowData)" class="pi pi-times" aria-hidden="true"></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>