<div class="px-10 pt-10 grid gap-5">
  <div class="row-span-1 grid grid-cols-3 col-span-12 gap-5">
    <!-- box -->
    <div class="bg-emerald-500 h-24 grid grid-cols-4">
      <div class="text-center shadow-2xl col-span-3 flex items-center justify-center flex-col">
        <span class="font-bold text-lg">Vendido</span>
        <p class="text-sm">este mes</p>
      </div>
      <div class="col-span-1 flex items-center justify-center flex-col text-xl font-bold">10</div>
    </div>
    <!-- box -->
    <div class="bg-sky-500 h-24 grid grid-cols-4">
      <div class="text-center shadow-2xl col-span-3 flex items-center justify-center flex-col">
        <span class="font-bold text-lg">Visitas</span>
        <p class="text-sm">hasta ahora</p>
      </div>
      <div class="col-span-1 flex items-center justify-center flex-col text-xl font-bold">10</div>
    </div>
    <!-- box -->
    <div class="bg-indigo-500 h-24 grid grid-cols-4">
      <div class="text-center shadow-2xl col-span-3 flex items-center justify-center flex-col">
        <span class="font-bold text-lg">Pedidos</span>
        <p class="text-sm">esta semana</p>
      </div>
      <div class="col-span-1 flex items-center justify-center flex-col text-xl font-bold">10</div>
    </div>
    <!-- box -->
  </div>
  <div class="grid grid-cols-3 col-span-12 gap-5 row-span-12">
    <div class="col-span-2 shadow-lg p-4">
      <p-chart type="line" [data]="data" [options]="options" class="h-[30rem]" />
    </div>
    <div class="shadow-lg">
      <p-table class="h-[30rem]">
        <ng-template pTemplate="header">
          <tr>
            <th>Reseñas de Clientes</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div>
  </div>
