<div class="home-page">
  <section id="section1" class="flex justify-center gap-10">
    <div class="self-center max-w-lg gap-6 flex flex-col w-[18rem] sm:w-[23rem] lg:w-full">
      <h1
        data-aos="flip-up"
        data-aos-delay="300"
        class="title text-4xl sm:text-5xl lg:text-7xl text-center font-bold dark:text-white/95"
      >Bienvenido a nuestra página</h1>
      <p
        data-aos="fade-up"
        class="text-sm lg:text-xl text-center self-center dark:text-white/85"
      >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati officia illo rem possimus, inventore aliquam dolore </p>
    </div>
  </section>

  <section id="section2" class="flex h-full text-white  dark:text-white/95">
    <div class="flex flex-col gap-10 items-center w-full lg:gap-28">
      <h1 data-aos="fade-up" class="mt-5 sm:mt-20 text-4xl text-center font-bold">Conoce más sobre nosotros</h1>

      <div
        class="w-[17rem] flex-col flex gap-7 lg:gap-14 lg:h-[30rem] lg:w-[45rem] lg:flex-row"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        <img
          class="bg-white lg:w-[60%] h-[15rem] lg:h-[30rem] img-about"
          src=""
          alt="beronica-empleado"
        >
        <div class="lg:w-[50%] self-center text-sm lg:text-lg">
          <p>En Inversiones Beronica Mercado F.P, nos apasiona contribuir al crecimiento educativo de las nuevas generaciones. Nuestra historia comenzó hace 4 años, ofreciendo una amplia variedad de artículos escolares de alta calidad. Nuestro equipo está formado por personas apasionadas por la educación, brindando experiencias de compra personalizadas. Nos enfocamos en innovar y expandir nuestra oferta para satisfacer las necesidades cambiantes del sector educativo. Nuestro objetivo es ser un espacio confiable para el éxito académico.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="section3" class="flex flex-col h-full gap-14 text-white dark:text-white/95">
    <h1
      data-aos="fade-up"
      class="mt-20 text-4xl text-center font-bold lg:self-center lg:mt-20"
    >Descúbrenos en tu cercanía</h1>
    <div
      data-aos="fade-up"
      data-aos-duration="2000"
      class="flex flex-col lg:flex-row self-center shadow-lg"
    >
      <app-map></app-map>
      <div class="rounded-bottom flex w-[20rem] h-[9rem] lg:h-[25rem] justify-center bg-slate-600 lg:items-center lg:text-lg">
        <p class="h-fit mt-5 lg:p-14">Puedes encontrarnos en [Ubicación]</p>
      </div>
    </div>
  </section>

</div>

