<div class="home-page">
  <section id="section1" class="flex justify-center gap-10">
    <div
      class="self-center max-w-lg gap-6 flex flex-col w-[18rem] sm:w-[23rem] lg:w-full"
    >
      <span
        data-aos="flip-up"
        data-aos-delay="300"
        class="title text-4xl sm:text-5xl lg:text-7xl text-center font-bold dark:text-white/95"
        >Bienvenido a nuestra página</span
      >
      <p
        data-aos="fade-up"
        class="text-base lg:text-2xl text-center self-center dark:text-white/85"
      >
        Más que joyas, un estilo de vida.
      </p>
    </div>
  </section>

  <section id="section2" class="flex h-full text-white dark:text-white/95">
    <div class="flex flex-col gap-10 items-center w-full lg:gap-28">
      <span
        data-aos="fade-up"
        class="mt-5 sm:mt-20 text-4xl text-center font-bold"
      >
        Conoce más sobre nosotros
      </span>

      <div
        class="w-[17rem] flex-col flex gap-7 lg:gap-14 lg:h-[30rem] lg:w-[45rem] lg:flex-row"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        <img
          class="bg-white lg:w-[60%] h-[15rem] lg:h-[30rem] img-about"
          src=""
          alt="beronica-empleado"
        />
        <div class="lg:w-[50%] self-center text-sm lg:text-lg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae
            reiciendis quisquam corporis cumque minima facere maxime, laudantium
            asperiores dolorum dolor dolorem exercitationem impedit atque
            architecto tenetur, possimus, rem veritatis!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    id="section3"
    class="flex flex-col h-full gap-14 text-white dark:text-white/95"
  >
    <span
      data-aos="fade-up"
      class="mt-20 text-4xl text-center font-bold lg:self-center lg:mt-20"
      >Descúbrenos en tu cercanía</span
    >
    <div
      data-aos="fade-up"
      data-aos-duration="2000"
      class="flex flex-col lg:flex-row self-center shadow-lg"
    >
    <!-- TODO: Arreglar mapa, es necesario buscar un nuevo componente para esto -->
      <app-map />
      <div
        class="rounded-bottom flex w-[20rem] h-[9rem] lg:h-[25rem] bg-slate-600 justify-center items-center lg:text-lg"
      >
        <p class="h-fit mt-5 p-14">Puedes encontrarnos en Cerca de Urb. Villa Icabarú, Ciudad Guayana 8050, Bolívar.</p>
      </div>
    </div>
  </section>
</div>
