<section class="bg-[#454546]">
  <ul>
    <li>
      <div class="flex flex-col w-72 gap-3">
        <div class="logo-container">
          <img class="logo" src="/image/footer/logo-footer.png" alt="image-logo">
          <h3>{{'{name_shop}'}}</h3>
        </div>
        <p>{{'{owner_name} {date} all rights reserved'}}</p>
        <p>{{'Welcome to {name_shop}. Here you can test the quality of our clothing, products and accessories.'}}</p>
      </div>
    </li>
    <li>
      <h3>CATEGORIES</h3>
      <div class="flex flex-col gap-1">
        <p>WOMAN</p>
        <p>MAN</p>
        <p>KIDS</p>
        <p>ACCESORIES</p>
      </div>
    </li>
    <li>
      <h3>TAG CLOUD</h3>
      <div class="tags">
        <p>LARUS</p>
        <p>UI</p>
        <p>BLOC</p>
        <p>INSPIRATION</p>
        <p>UX</p>
        <p>BRAND</p>
      </div>
    </li>
    <li>
      <h3>FOLLOW US</h3>
      <div class="social_media flex gap-1">
        <img src="/image/footer/twitter_iconfinder.svg" alt="twitter">
        <img src="/image/footer/whatsapp_iconfinder.svg" alt="whatsapp">
        <img src="/image/footer/facebook_iconfinder.svg" alt="facebook">
        <img src="/image/footer/instagram_iconfinder.svg" alt="instagram">
      </div>
    </li>
  </ul>
</section>
