button{
  background-color: #f5e1c8;
  padding: .8rem 4.5rem;
  border-radius: 5px;
}

.container-cards{
  width: 80%;
  background-color: rgba(150,150,150,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.filter{
  width: 60%;
  display: flex;
  gap: .5rem;
  padding: .7rem;
  background-color: rgba(150,150,150,0.5);
  .b-fetch, .b-filt{
    padding: .3rem 1rem;
    border-radius: 0;
  }
  .b-filt{
    background-color: #c8c8c8;
  }
  .b-fetch{
    background-color: #666f88;
    color: white;
  }
  input{
    padding: .3rem .7rem;
    width: 100%;
  }
}
