<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="relative flex flex-col px-8 py-8 gap-6 rounded-2xl"
  style="
          border-radius: 12px;
          background-image: radial-gradient(
            circle at left top,
            #6b6e74,
            #414347,
            #3e3e42
          );
        ">
  <div class="inline-flex flex-col gap-2">

    <div class="input-container">
      <label for="cedula" class="text-primary-50 font-semibold">Cedula</label>
      <span *ngIf="registerForm.get('cedula')?.errors?.['required'] && registerForm.get('cedula')?.touched">
        La cedula es requerida.
      </span>
      <span *ngIf="registerForm.get('cedula')?.errors?.['invalidName']">
        Solo se permiten letras y espacios.
      </span>
      <input class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80" formControlName="cedula" id="cedula"
        placeholder="cedula" />
    </div>

    <div class="input-container">
      <label for="nombres" class="text-primary-50 font-semibold">Nombre</label>

      <span *ngIf="registerForm.get('nombres')?.errors?.['required'] && registerForm.get('nombres')?.touched">
        El nombre es requerido.
      </span>
      <span *ngIf="registerForm.get('nombres')?.errors?.['invalidName']">
        Solo se permiten números.
      </span>
      <input pInputText class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80" type="text" formControlName="nombres"
        id="nombres" placeholder="Nombre" />
    </div>

    <div class="input-container">
      <label for="nombre_usuario" class="text-primary-50 font-semibold">Nombre de Usuario</label>

      <span
        *ngIf="registerForm.get('nombre_usuario')?.errors?.['required'] && registerForm.get('nombre_usuario')?.touched">
        El nombre de usuario es requerido.
      </span>

      <span *ngIf="registerForm.get('nombre_usuario')?.errors?.['invalidUsername']">
        Solo se permiten letras, números, guiones bajos (_), guiones (-) y puntos (.)
      </span>

      <input pInputText class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80" type="text"
        formControlName="nombre_usuario" id="nombre_usuario" placeholder="Nombre de Usuario" />
    </div>

    <div class="input-container">
      <label for="correo" class="text-primary-50 font-semibold">Correo</label>
      <span *ngIf="registerForm.get('correo')?.errors?.['required'] && registerForm.get('correo')?.touched">
        El correo es requerido.
      </span>
      <span *ngIf="registerForm.get('correo')?.errors?.['invalidEmail']">
        {{"Formato de correo inválido."}}
      </span>
      <input pInputText class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80" type="email" formControlName="correo"
        id="correo" placeholder="Correo electrónico" />
    </div>

    <div class="input-container">
      <label for="credencial" class="text-primary-50 font-semibold">Contraseña</label>
      <span *ngIf="registerForm.get('credencial')?.errors?.['required'] && registerForm.get('credencial')?.touched">
        La contraseña es requerida.
      </span>
      <span *ngIf="registerForm.get('credencial')?.errors?.['weakPassword']">
        La contraseña debe tener al menos 8 caracteres,<br />
        incluyendo mayúsculas, minúsculas, números<br />
        y caracteres especiales.
      </span>
      <input pInputText toggleMask="true" type="password" class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
        formControlName="credencial" id="password" placeholder="Contraseña" />
    </div>

    <div class="input-container">
      <label for="confirm_credencial" class="text-primary-50 font-semibold">Confirmar Contraseña</label>
      <span
        *ngIf="registerForm.get('confirm_credencial')?.errors?.['required'] && registerForm.get('confirm_credencial')?.touched">
        Confirma tu contraseña.
      </span>
      <span *ngIf="registerForm.get('confirm_credencial')?.errors?.['mismatch']">
        Las contraseñas no coinciden
      </span>

      <input pInputText toggleMask="true" type="password" class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
        formControlName="confirm_credencial" id="confirm-credencial" placeholder="Confirmar contraseña" />
    </div>
  </div>
  <span *ngIf="registerForm.get('confirm-credencial')?.hasError('mistmatch')" class="">
    Las contraseñas no coinciden
  </span>

  <!-- <div class="flex gap-2 items-center">
    <input type="checkbox" formControlName="checkbox" />
    <span>Acepto los Términos y Condiciones</span>
  </div> -->
  <div class="flex items-center gap-4">
    <p-button label="Cancelar" [text]="false" (onClick)="closeDialog.emit()"
      styleClass="!p-4 w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10" class="w-full" />
    <p-button label="Registrar" [text]="true"
      styleClass="!p-4 w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10" class="w-full"
      type="submit" />
  </div>
</form>