<form
  class="flex flex-col gap-3 px-16 py-14 w-[30rem]"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex justify-between items-center mb-4">
    <h1 class="!text-2xl !font-semibold">REGISTRO</h1>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="flex flex-col gap-5">
    <input
      class="input"
      type="text"
      formControlName="first_name"
      id="name"
      placeholder="Nombre"
    />
    <input
      class="input"
      type="text"
      formControlName="last_name"
      id="last-name"
      placeholder="Apellido"
    />
    <input
      class="input"
      type="text"
      formControlName="user_name"
      id="user-name"
      placeholder="Nombre de Usuario"
    />
    <input
      class="input"
      type="email"
      formControlName="email_address"
      id="email"
      placeholder="Correo electrónico"
    />
    <input
      class="input"
      type="password"
      formControlName="pswd"
      id="password"
      placeholder="Contraseña"
    />
    <input
      class="input"
      type="password"
      formControlName="confirm_password"
      id="confirm-password"
      placeholder="Confirmar contraseña"
    />
  </div>
  <div
    *ngIf="registerForm.get('confirm-password')?.hasError('mistmatch')"
    class=""
  >
    Los passwords no coinciden
  </div>

  <div class="flex gap-2 items-center">
    <input type="checkbox" formControlName="checkbox" />
    <span>Acepto los Términos y Condiciones</span>
  </div>
  <button
    [class.button]="registerForm.valid"
    [class.button-invalid]="registerForm.invalid"
    [disabled]="registerForm.invalid"
    class="font-semibold rounded-md tracking-wider py-3 border border-transparent"
    type="submit"
  >
    REGISTER
  </button>
</form>
