<div class="p-5">
  <div class="flex items-center justify-center py-5">
    <h3 data-aos="fade-down" data-aos-duration="800" class="text-4xl font-bold">Elementos Guardados</h3>
  </div>

  <div class="relative grid grid-cols-2 gap-3">
    <div class="grid grid-cols-12 gap-3">
      @if(!loading){
      <div *ngFor="let item of items; let index" data-aos="flip-down" [attr.data-aos-delay]="100 * index"
        [tabindex]="index" (click)="showDrawer(item.id)" (keyup.esc)="visible = false"
        class="shadow-lg col-span-12 h-[18.5rem] rounded-md overflow-hidden transition-transform transform hover:scale-105 cursor-pointer">
        <div class="flex flex-col h-full w-full">
          <div class="rounded-t flex flex-col justify-center items-center h-52 w-full">
            <p-rating [style]="{'--p-rating-icon-size': '13px'}" class="pl-5 self-start" (ngModel)="calificacion(item)"
              [ngModel]="item.calificacion" [readonly]="true" />
            <img [src]="item.imagen_url" alt="{{ item.nombre }}" class="w-full h-40 object-contain ">
          </div>
          <div class="grid grid-cols-12 text-gray-600 m-4">
            <div class="col-span-10">
              <h3 class="text-medium font-semibold">{{ item.nombre }}</h3>
              <p class="text-sm">{{ getTextUntilFirstDot(item.descripcion) }}.</p>
            </div>
            <div class="col-span-2 text-center flex flex-col">
              <span class="text-xs font-bold text-right">{{ item.categoria }}</span>
              <span class="text-xs font-bold text-right">{{ item.precio | currency }}</span>
            </div>
          </div>
        </div>
      </div>
      }@else{
      <div class="flex flex-col gap-3">
        <p-skeleton data-aos="flip-down" [attr.data-aos-delay]="100" height="18.5rem" width="40rem" />
        <p-skeleton data-aos="flip-down" [attr.data-aos-delay]="200" height="18.5rem" width="40rem" />
      </div>
      }


    </div>
    <div data-aos="fade-left" data-aos-duration="1500"
      class="border border-[#e9e9e9] rounded-xl shadow-xl fixed w-[40rem] h-[76.5vh] left-[57.5%]"
      [ngClass]="{ 'top-[5rem] h-[88vh]': !isAtTop }">
      <div class="flex items-center justify-between p-4">
        <div class="mb-6">
          <h4 class="text-2xl font-semibold mb-2">Filtros</h4>
          <p class="text-gray-600 mb-4">Utiliza los siguientes filtros para refinar tu búsqueda de elementos guardados.
          </p>
          <div class="grid grid-cols-3 grid-flow-row gap-3">
            <div class="col-span-2">
              <p-floatlabel variant="on">
                <p-multiselect (onChange)="filterByCategory()" [(ngModel)]="selectCategoria" [options]="categorias"
                  optionLabel="name" filter styleClass="w-full" />
                <label for="categorias">Categorías</label>
              </p-floatlabel>
            </div>
            <div>
              <p-floatlabel variant="on">
                <input (ngModelChange)="filterByName($event)" pInputText [(ngModel)]="filters.nombre" id="nombre"
                  type="text" class="w-full" />
                <label for="nombre">Buscar por nombre</label>
              </p-floatlabel>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[25rem] flex items-center justify-center">
        <i class="pi pi-bookmark" style="font-size: 12rem; color: #e5e5e5;"></i>
        <!-- Revisar que contenido colocar aqui -->
      </div>
    </div>
  </div>
</div>

<p-drawer (onHide)="hideDrawer()" [(visible)]="visible" [modal]="true" position="right" [style]="{width: '30vw'}"
  [baseZIndex]="10000" [closeOnEscape]="true">
  <router-outlet />
</p-drawer>