input{
  height: 2.5rem;
  border-radius: 4px;
  padding-left: 10px;
}

label{
  color: white;
  margin-bottom: 4px;
}

span{ color: white; }

button{
  color: white;
  border-radius: 5px;
 }

.button:active{ opacity: 0.8; }
