.container-login{
  background-color: rgba(0,0,0,0.5);
  width: 90vh;
  height: 67vh;
}

main{
  height: 100vh;
  border: 1px solid black;
}

input{
  height: 2.5rem;
  border-radius: 4px;
  padding-left: 10px;
}

span{
  color: white;
}

.button{
  background-color: gray;
  color: white;
}

.button:active{
  opacity: 0.8;
}
