<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-56 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a [routerLink]="['/usuarios']" routerLinkActive="router-link-active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="pi pi-home"></i>
          <span class="ms-3">Inicio</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/usuarios', 'catalogo']" routerLinkActive="router-link-active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="pi pi-shopping-bag"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Catálogo</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/usuarios', 'carrito']" routerLinkActive="router-link-active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="pi pi-shopping-cart"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Carrito</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/usuarios', 'compras']" routerLinkActive="router-link-active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="pi pi-shopping-bag"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Compras</span>
          <span *ngIf="buyNotify() > 0"
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">{{buyNotify()}}</span>

        </a>
      </li>
      <li>
        <a [routerLink]="['/usuarios', 'guardados']" routerLinkActive="router-link-active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="pi pi-bookmark"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Guardados</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/usuarios', 'pedidos']" routerLinkActive="router-link-active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="pi pi-receipt"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Pedidos</span>
          <span *ngIf="orderNotify() > 0"
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">{{orderNotify()}}</span>

        </a>
      </li>
    </ul>
  </div>
</aside>